@import "tailwindcss";

.nav-links {
    @apply px-3 py-1 rounded-md text-[20px] font-mono hover:bg-white/20 hover:text-lime-300 hover:shadow-inner hover:shadow-black/20;
}

.nav-login {
    @apply px-3 py-1;
}


