@import "tailwindcss";

.bg-card {
    background-color: #E5D3C2;
}

.bg-card-section {
    background-color: #2A2F2A;
}

.text-card {
    color: #E5D3C2;
}

.text-card-section {
    color: #2A2F2A;
}

.border-card {
    border-color: #E5D3C2;
}

.card {
    @apply md:w-2xl mx-14 py-4 px-4 rounded-md flex flex-col gap-y-2;
    
}

.card-section-owner {
    @apply w-fit py-1 px-2 flex rounded-full;
}

.card-section-owner h1 {
    @apply mx-2 font-sans text-[20px] font-extrabold;
}

.card-section-title {
    @apply py-1 px-2 rounded-md flex;
}

.card-section-title h1 {
    @apply text-8xl;
}

.card-section-intro {
    @apply py-1 px-2 flex justify-between gap-2 rounded-md;
}

.card-section-intro > div:nth-child(1) {
    @apply relative w-lg h-fit flex justify-start rounded-md border-4;
}

.card-section-intro > div:nth-child(1) img {
    @apply h-fit mx-auto py-2;
}

.card-section-intro > div:nth-child(1) div {
    @apply absolute bottom-0 w-full h-16 py-2 flex justify-center items-center;
}

.card-section-intro > div:nth-child(1) div p {
    @apply font-extrabold text-2xl;
}

.card-section-intro > div:nth-child(2) {
    @apply flex flex-col justify-start items-start gap-2;
}

.card-section-intro > div:nth-child(2) h1 {
    @apply wrap-break-word text-justify text-[32px] leading-8;
}

.card-section-intro > div:nth-child(2) p {
    @apply wrap-break-word text-justify max-w-xl;
}

.card-section-info {
    @apply py-4 px-2 rounded-md flex flex-col items-center gap-4;
}

.card-section-info > div:nth-child(1) {
    @apply flex justify-between gap-16;
}

.card-section-info > div:nth-child(1) div {
    @apply flex flex-col items-center gap-y-2;
}

.card-section-info > div:nth-child(1) div img {
    @apply w-11;
}

.card-section-info > div:nth-child(1) div h5 {
    @apply text-[1rem] font-semibold;
}

.card-section-info > div:nth-child(2) {
    @apply flex justify-between gap-16;
}

.card-section-info > div:nth-child(2) div {
    @apply flex flex-col items-center gap-y-2;
}

.card-section-info > div:nth-child(2) div div {
    @apply w-22 h-12 px-2 rounded-xl flex justify-center;
}

.card-section-info > div:nth-child(2) div div p {
    @apply font-bold;
}

.card-section-info > div:nth-child(2) div h5 {
    @apply text-[1rem] font-semibold;
}

.card-section-links {
    @apply flex mt-4 justify-between items-center;
}

.card-section-links div:nth-child(1) a {
    @apply px-4 py-2 font-medium rounded-full bg-[#2A2F2A] text-[#E5D3C2] hover:bg-[#cabaaa] hover:shadow-inner hover:shadow-black/50 hover:text-[#2A2F2A];
}

.card-section-links div:nth-child(2) {
    @apply flex gap-4;
}

.card-section-links div:nth-child(2) a img {
    @apply h-9;
}